.woocommerce ul, .woocommerce ul li {
     list-style: none !important;
}
 .wc-proceed-to-checkout {
     display: inline-table !important;
}
 .woocommerce .cross-sells h2 {
     color: #232323;
     font-size: 20px;
     text-transform: capitalize;
}
 .woocommerce .cross-sells ul.products li {
     background: #fff none repeat scroll 0 0;
     border: 1px solid #eeeeee;
     margin-bottom: 30px;
     overflow: hidden;
     position: relative;
     text-align: center;
     transition: background 0.5s ease-in-out 0s;
}
 .woocommerce .cross-sells ul.products li h3 {
     color: #191919;
     display: inline-block;
     font-family: "Merriweather", serif;
     font-size: 18px;
     margin-bottom: 0;
     padding: 0 12px;
     text-transform: capitalize;
}
 .woocommerce .cross-sells ul.products li .star-rating {
     margin: 0 auto;
}
 .woocommerce .cross-sells ul.products li .price {
     margin-top: 10px;
}
 .woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
     padding: 15px 0 0 !important;
}
 .woocommerce .side-bar .widget ul li.wc-layered-nav-rating a::after, .woocommerce .side-bar .widget ul li.mini_cart_item a::after {
     display: none;
}
 .woocommerce .widget_shopping_cart_content .cart_list li a.remove, .woocommerce.widget_shopping_cart_content .cart_list li a.remove {
     color: #828282 !important;
     font-size: 20px;
     font-weight: bold;
     line-height: normal !important;
     left: 45px;
     position: absolute;
     overflow: hidden;
     z-index: 999;
}
 p.total {
     margin-top: 15px;
}
 .woocommerce ul.cart_list, .woocommerce ul.product_list_widget li.empty {
     margin-bottom: 0;
     padding-bottom: 0;
}
 .woocommerce ul.cart_list li:last-child, .woocommerce ul.product_list_widget li:last-child {
     padding-bottom: 0;
}
 .woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
     border-bottom: 1px solid #eee;
     margin-bottom: 10px;
     padding-bottom: 14px;
}
 .woocommerce ul.cart_list li:last-child, .woocommerce ul.product_list_widget li:last-child {
     border: medium none;
     margin-bottom: 0 !important;
}
 .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
     font-size: 11px;
     font-weight: bold !important;
     line-height: 19px;
}
 .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
     box-shadow: none !important;
     float: right !important;
     margin: 0 0 0 15px !important;
     width: 80px !important;
}
 .woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
     padding-right: 0;
     padding-top: 0;
     position: relative;
}
 .woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
     border: medium none !important;
     margin-right: 15px;
}
 .woocommerce .widget_shopping_cart_content .total strong, .woocommerce.widget_shopping_cart_content .total strong {
     display: inline-block;
     min-width: 40px;
}
 .side-bar.col-left .amount {
     color: #000;
     font-size: 14px;
     font-weight: 600;
}
 .side-bar.col-left del .amount {
     color: #999;
     font-weight: normal;
}
 .woocommerce .product-view .product-shop .star-rating::before {
     font-size: 14px !important;
     letter-spacing: 2px;
}
 .woocommerce .product-view .product-shop .star-rating {
     font-size: 14px !important;
     letter-spacing: 2px;
     margin-top: 8px !important;
}
 .woocommerce .star-rating::before {
     font-size: 14px !important;
}
 .woocommerce .star-rating {
     font-size: 14px !important;
     letter-spacing: 2px;
     margin-bottom: 5px;
     margin-top: 0px !important;
     width: 6.3em !important;
}
 .woocommerce-review-link {
     color: #666;
     font-size: 14px;
}
 .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
     box-shadow: none !important;
     float: right !important;
     margin: 0 0 0 12px !important;
     width: 80px !important;
}
 .woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
     border: medium none !important;
     margin-right: 15px;
     padding-top: 0;
}
 .woocommerce-page .widget_shopping_cart p.buttons {
     margin-bottom: 5px;
     margin-right: 15px;
     margin-top: 15px;
}
 .woocommerce.widget_shopping_cart_content a.button.checkout {
     margin-right: 10px;
}
 .side-bar ins.amount {
     color: #d00a2d;
     font-size: 13px;
     font-weight: 600;
}
 .side-bar .old-price .amount {
     color: #666;
     font-size: 14px;
     font-weight: normal;
}
 .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
     font-size: 15px;
     font-weight: 500 !important;
     line-height: 16px;
     display: block;
     margin-bottom: 3px;
}
 .woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover, .woocommerce-page ul.cart_list li a:hover, .woocommerce-page ul.product_list_widget li a:hover {
     color: #222;
}
 .widget_shopping_cart_content_content li {
     border-bottom: 1px solid #eee;
     margin-bottom: 10px !important;
     padding: 6px 0 15px 2px !important;
}
 .widget_shopping_cart_content_content li.empty {
     border-bottom: medium none;
     margin-bottom: 0;
     padding-bottom: 0 !important;
}
 .woocommerce .star-rating span, .woocommerce-page .star-rating span {
     color: #ffc60a;
}
 .price_slider_wrapper {
     padding: 12px 0 5px;
}
 .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
     background-color: #222 !important;
     border-radius: 100%;
}
 .woocommerce .widget_price_filter .price_slider_amount {
     font-weight: 600;
}
 .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
     background-color: #333 !important;
}
 .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
     background-color: #999 !important;
     margin-bottom: 22px;
     margin-top: 12px;
}
 .woocommerce-product-search {
     background-color: #fff;
     padding: 0;
}
 .woocommerce-product-search label {
     border-bottom: 1px solid #222;
     color: #333;
     display: none;
     font-size: 14px;
     letter-spacing: 1px;
     margin-bottom: 15px;
     padding-bottom: 6px;
     text-transform: uppercase;
}
 .woocommerce-product-search input {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
     font-size: 14px;
     font-weight: 600;
     margin-top: 2px;
     padding: 6px 15px;
     text-transform: uppercase;
}
 .woocommerce-product-search input.search-field {
     background: #fff none repeat scroll 0 0 !important;
     color: #333 !important;
     float: right;
     font-size: 12px;
     font-weight: normal;
     letter-spacing: 1px;
     margin-top: 2px;
     padding: 6px 10px;
     text-transform: none;
     width: 66%;
}
 .clear-all {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
     display: inline-block;
     font-size: 11px !important;
     font-weight: bold !important;
     letter-spacing: 1px;
     line-height: normal;
     padding: 10px 12px !important;
     text-transform: uppercase !important;
}
 .clear-all:hover {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
     padding: 10px 12px !important;
}
 .clear-all::before {
     content: "";
     font-family: FontAwesome;
     font-size: 12px;
     padding-right: 5px;
}
 .side-bar .button {
     background: #fff none repeat scroll 0 0 !important;
     border: 1px solid #e5e5e5 !important;
     color: #666 !important;
     font-size: 11px !important;
     font-weight: bold !important;
     letter-spacing: 1px;
     padding: 10px 15px !important;
     text-transform: uppercase !important;
     transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
 .side-bar .button:hover {
     background: #efbb20 none repeat scroll 0 0 !important;
     border: 1px solid #efbb20 !important;
     color: #fff !important;
     padding: 10px 15px !important;
}
 .woocommerce.widget_product_tag_cloud .tagcloud {
     padding: 15px 0 0;
}
 .widget_product_categories {
     background: #fff none repeat scroll 0 0;
     border: medium none;
     margin-bottom: 30px;
     padding-bottom: 4px;
}
 .widget_product_categories .product-categories {
     padding: 8px 12px;
}
 .widget_product_categories .product-categories li {
     border-bottom: 0 solid #eaeaea;
     padding: 6px 0 8px;
     position: relative;
}
 .widget_product_categories .product-categories li:last-child {
     border-bottom: medium none;
}
 .widget_product_categories .product-categories li a {
     color: #333;
     font-size: 12px;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
}
 .widget_product_categories .product-categories li a ul li a {
     text-transform: none;
}
 .widget_product_categories .product-categories li.current-cat a {
     color: #222;
     font-size: 12px;
     font-weight: 600;
     letter-spacing: 1px;
     text-transform: uppercase;
}
 .widget_product_categories .product-categories li.current-cat ul li a {
     border-bottom: 0 solid #eaeaea;
     color: #222;
     font-size: 12px !important;
     font-weight: normal;
     text-transform: none;
}
 .widget_product_categories .product-categories li ul li {
     padding-bottom: 4px;
     padding-right: 6px;
     padding-top: 4px;
}
 .widget_product_categories .product-categories li ul li {
     border-bottom: medium none;
}
 .widget_product_categories .product-categories li ul li a {
     border-bottom: 0 solid #eaeaea;
     color: #000;
     font-size: 12px !important;
     font-weight: normal;
     margin: 0 !important;
     padding: 6px 3px !important;
     text-decoration: none;
     text-transform: none;
     transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
 .widget_product_categories .product-categories li .count {
     display: none;
}
 .widget_product_categories .product-categories li ul li::before {
     color: #999;
     content: "";
     font-family: FontAwesome;
     font-size: 14px;
     height: inherit;
     line-height: 16px;
     padding-left: 4px;
     position: relative;
     vertical-align: text-bottom;
}
 .widget_product_categories .product-categories {
     margin-top: 8px;
     overflow: auto;
     padding: 0;
}
 .widget_product_categories .cat-item.cat-parent:hover {
     cursor: pointer;
}
 .variations_form.cart {
     border-bottom: 0 dotted #ddd;
     margin: 18px 0 10px;
     padding: 0 0 6px;
}
 .woocommerce div.product form.cart .variations {
     margin-bottom: 0 !important;
}
 .woocommerce div.product form.cart .variations select {
     margin-bottom: 15px !important;
     width: 160px;
}
 .product-view .product-shop .icon-plus::before {
     font-size: 14px;
}
 .product-view .product-shop del .amount {
     color: #999;
     font-size: 20px;
     font-weight: normal;
     text-decoration: none;
}
 .product-view .product-shop .price del {
     color: #999;
}
 .product-view .product-shop .icon-minus::before {
     font-size: 14px;
}
 .woocommerce div.product p.price, .woocommerce div.product span.price {
     color: #d00a2d !important;
     font-weight: bold !important;
}
 .woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
     padding: 0 !important;
     width: 60px !important;
}
 .woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
     margin: 0 0 0 70px !important;
}
 .woocommerce .star-rating span, .woocommerce-page .star-rating span {
     color: #ffc60a;
}
 .woocommerce p.stars a.star-1::after, .woocommerce p.stars a.star-2::after, .woocommerce p.stars a.star-3::after, .woocommerce p.stars a.star-4::after, .woocommerce p.stars a.star-5::after, .woocommerce-page p.stars a.star-1::after, .woocommerce-page p.stars a.star-2::after, .woocommerce-page p.stars a.star-3::after, .woocommerce-page p.stars a.star-4::after, .woocommerce-page p.stars a.star-5::after {
     color: #ffc60a;
}
 .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
     background: #fff none repeat scroll 0 0;
     border: 1px solid #ddd;
     color: #000;
     font-weight: 600;
     height: 40px !important;
     width: 65px !important;
}
 .woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
     height: 20px !important;
}
 .woocommerce .woocommerce-error::before, .woocommerce .woocommerce-info::before, .woocommerce .woocommerce-message::before {
     content: "";
     display: inline-block;
     font-family: FontAwesome;
     right: 1.5em;
     position: absolute;
     top: 1em;
}
 .woocommerce table.wishlist_table th.product-price, .woocommerce table.wishlist_table th.product-stock-stauts {
     text-align: center;
}
 .woocommerce table.wishlist_table thead th {
     padding: 10px !important;
}
 h3#order_review_heading {
     border-bottom: 0 solid #e4e4e4;
     color: #333;
     font-size: 15px;
     font-weight: 600;
     margin-bottom: 15px;
     overflow: hidden;
     line-height: 35px;
     text-align: right;
     margin: 0 0 15px;
     text-transform: uppercase;
}
 #tab-description h2 {
     display: none;
}
 #reviews #comments h2 {
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 1px;
     margin: auto auto 15px;
     padding: 0;
     text-transform: uppercase;
}
 #review_form #respond h3 {
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 1px;
     margin: auto auto 15px;
     padding: 0;
     text-transform: uppercase;
}
 .woocommerce-tabs .panel {
     box-shadow: none !important;
     margin-bottom: 0;
}
 .woocommerce a.button.checkout {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
}
 .woocommerce a.button.btn-proceed-checkout {
     background: #fcd54c none repeat scroll 0 0 !important;
     border: 1px solid #fcd54c !important;
     border-radius: 0;
     color: #000 !important;
     padding: 12px 35px !important;
}
 .woocommerce a.button.btn-proceed-checkout span {
     font-size: 16px !important;
     font-weight: 700 !important;
     letter-spacing: 1px !important;
}
 .woocommerce a.button.btn-proceed-checkout:hover {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
}
 a.showcoupon {
     color: #222;
}
 .woocommerce .blockUI.blockOverlay {
     display: none !important;
}
 .woocommerce-account #customer_login h2 {
     font-size: 13px;
     font-weight: 600;
     letter-spacing: 1px;
     margin: 5px 0 10px auto;
     text-transform: uppercase;
}
 .woocommerce .woocommerce-info::before {
     color: green !important;
}
 .woocommerce .woocommerce-error::before, .woocommerce .woocommerce-info::before, .woocommerce .woocommerce-message::before {
     content: "";
     display: inline-block;
     font-family: FontAwesome;
     left: 1.5em;
     position: absolute;
     top: 1.1em;
}
 .woocommerce .woocommerce-info::before, .woocommerce-page .woocommerce-info::before {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
     box-shadow: none !important;
     color: #339900 !important;
     font-size: 15px !important;
     font-weight: normal !important;
     right: 15px !important;
     top: 13px !important;
}
 .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error {
     background: #f3fdf0 none repeat scroll 0 0;
     border: 1px solid #e2f7db !important;
     border-radius: 0 !important;
     box-shadow: none !important;
     color: #5e5e5e;
     list-style: outside none none !important;
     margin: 0 0 2em !important;
     padding: 1em 3.5em 0.5em 1em !important;
     position: relative;
     text-shadow: 0 0 0 #ffffff;
     width: auto;
}
 .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
     background: #f3fdf0 none repeat scroll 0 0;
     border: 1px solid #e2f7db !important;
     border-radius: 0 !important;
     box-shadow: none !important;
     color: #5e5e5e;
     list-style: outside none none !important;
     margin: 0 0 2em !important;
     padding: 1em 3.5em 1em 1em !important;
     position: relative;
     text-shadow: 0 0 0 #ffffff;
     width: auto;
}
 .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
     background: #fae2e5 none repeat scroll 0 0;
     border: 1px solid #f4d1d4 !important;
}
 ul.woocommerce-error li {
     float: right !important;
     margin-left: 10px !important;
     padding: 4px 0;
     text-align: right;
     width: 100%;
}
 .step-title h3, .woocommerce-shipping-fields h3 {
     color: #000;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-bottom: 0;
     text-transform: uppercase;
}
 .select2-container .select2-choice {
     -moz-user-select: none;
     background-clip: padding-box;
     background-color: #fff !important;
     border: 1px solid #ddd !important;
     border-radius: 0 !important;
     color: #444;
     display: block;
     font-weight: 400;
     overflow: hidden;
     padding: 0 8px !important;
     position: relative;
     text-decoration: none;
     white-space: nowrap;
}
 .woocommerce table.shop_table .amount {
     color: #232323;
     font-size: 16px;
}
 .woocommerce-checkout #payment div.form-row {
     margin-bottom: 25px;
}
 .woocommerce .cart .button.btn-update {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     border-radius: 0;
     color: #fff !important;
     float: left !important;
     font-size: 11px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-left: 8px !important;
     padding: 10px 12px;
}
 .woocommerce .cart .button.btn-update:hover {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
}
 #empty_cart_button.button {
     background-color: #fff !important;
     border: 1px solid #d1d1d1 !important;
     border-radius: 0;
     color: #666 !important;
     float: left;
     font-size: 11px;
     font-weight: 600;
     letter-spacing: 1px;
     padding: 10px 12px;
}
 #empty_cart_button.button:hover {
     background-color: #222 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
}
 .shop_table .button.btn-continue {
     background-color: #fff !important;
     border: 1px solid #d1d1d1 !important;
     border-radius: 0;
     color: #666 !important;
     float: right !important;
     font-size: 11px;
     font-weight: 600;
     letter-spacing: 1px;
     padding: 10px 12px;
}
 .shop_table .button.btn-continue:hover {
     background-color: #222 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
}
 .button.coupon, .button.btn-continue, .button.continue, .button.login, button.btn-share, .button.create-account {
     background-color: #222 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
}
 #discount-coupon-form button.button {
     background: #222 none repeat scroll 0 0 !important;
     border: 1px solid #222 !important;
     border-radius: 0;
     color: #fff !important;
     font-size: 11px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-top: 8px;
     padding: 10px 12px;
}
 .woocommerce div.product form.cart, .woocommerce div.product p.cart {
     border: medium none;
     margin-bottom: 8px !important;
     padding: 2px 0 0;
}
 .summary .product_meta {
     margin-top: 5px !important;
}
 #yith-quick-view-content div.summary .product-name h1 {
     border-bottom: 1px solid #e5e5e5;
     font-size: 26px;
     font-weight: 700;
     letter-spacing: 1px;
     line-height: 1;
     margin: 0 0 2px;
     padding-bottom: 12px;
     text-align: right;
     text-transform: uppercase;
}
 #yith-quick-view-content div.summary .star-rating::before {
     font-size: 15px !important;
}
 #yith-quick-view-content div.summary .star-rating {
     font-size: 15px !important;
}
 .woocommerce div.product .woocommerce-product-rating {
     margin-bottom: 15px !important;
     margin-top: 10px;
}
 .woocommerce form.checkout_coupon {
     border-radius: 0;
}
 .woocommerce form.checkout_coupon input.button {
     padding: 15px 25px;
}
 .woocommerce form.login, .woocommerce form.register {
     border: medium none;
     border-radius: 0;
     margin: auto;
     padding: 0;
}
 .woocommerce label {
     color: #999 !important;
     font-size: 14px;
}
 p.lost_password {
     float: left;
     margin-left: 55px;
     margin-top: -34px;
}
 p.lost_password a {
     font-size: 12px;
     text-decoration: underline;
}
 .woocommerce form.register {
     min-height: 285px;
}
 #shopping-cart-totals-table label {
     display: inline;
}
 .woocommerce div.product form.cart table.group_table {
     margin-bottom: 18px;
     margin-top: 2px;
}
 .woocommerce div.product form.cart table.group_table .fa.fa-shopping-cart {
     display: none;
}
 .woocommerce div.product .group_table p.stock {
     margin: auto;
}
 .woocommerce div.product form.cart table.group_table tbody {
     border: 1px solid #ddd;
     display: inline-block;
     width: 100%;
}
 .woocommerce div.product form.cart table.group_table tbody tr {
     border-bottom: 1px solid #ddd;
     vertical-align: middle;
}
 .woocommerce div.product form.cart table.group_table tbody tr:last-child {
     border-bottom: 0 solid #ddd;
}
 .woocommerce div.product form.cart .group_table td.label {
     color: #333;
     font-size: 12px;
     font-weight: 600;
     margin: auto;
}
 .woocommerce div.product form.cart .group_table td {
     vertical-align: middle;
}
 .woocommerce div.product form.cart .group_table label {
     font-size: 14px;
     line-height: 20px;
     margin: 12px auto auto;
}
 .woocommerce div.product form.cart .group_table label a {
     color: #333;
}
 .woocommerce div.product form.cart .group_table td:last-child {
     padding-bottom: 10px;
     padding-top: 12px;
}
 .woocommerce .group_table .quantity input.qty {
     background: #fff none repeat scroll 0 0;
     height: 39px !important;
     padding: 2px 8px;
}
 .woocommerce div.product form.cart .group_table td {
     padding: 8px;
}
 .woocommerce div.product form.cart table.group_table .price {
     font-size: 14px;
     padding-top: 14px;
}
 .woocommerce div.product form.cart table.group_table .price ins, .woocommerce div.product form.cart table.group_table .price span.amount {
     font-size: 13px;
     font-weight: 600;
}
 .woocommerce div.product form.cart table.group_table .price del .amount {
     font-weight: normal;
}
 .woocommerce div.product form.cart .group_table td label.pull-left {
     display: none;
}
 .woocommerce div.product form.cart .group_table td .button .icon-shopping-cart {
     display: none;
}
 .mini-cart dl.variation {
     margin-bottom: 0;
}
 .mini-cart dd p {
     margin-bottom: 0;
}
 .mini-cart dl.variation {
     margin-bottom: 0;
     margin-right: 80px;
     text-align: right;
}
 .mini-cart dd p {
     margin-bottom: 0;
}
 .mini-cart dl.variation dt {
     display: inline-block;
}
 .mini-cart dl.variation dd {
     display: inline-block;
}
 .woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl {
     border-right: medium none !important;
     display: table !important;
     margin: 0;
     padding-right: 0 !important;
}
 .woocommerce ul.cart_list li dl dd, .woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dd, .woocommerce ul.product_list_widget li dl dt {
     margin-bottom: auto !important;
}
 .single_variation_wrap .variations_button {
     display: inline-block;
     width: 100%;
}
 .single_variation_wrap .variations_button label.pull-left {
     line-height: 40px;
     margin-left: 10px;
}
 .woocommerce-account .page-content .woocommerce h2 {
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1px;
}
 .col2-set .col-1.address {
     border: medium none;
}
 .woocommerce-account .page-content .woocommerce h3 {
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1px;
     text-transform: uppercase;
}
 .woocommerce-account .col-main {
     margin-bottom: 15px;
}
 .shop_table dl {
     font-size: 12px;
     margin: 0;
     padding: 0;
}
 .shop_table dl dt {
     display: inline-block;
     font-size: 12px;
}
 .shop_table dd p, .shop_table dd {
     display: inline-block;
     font-size: 12px;
     margin: auto;
}
 .shop_table .item-options dd {
     color: #cccccc;
     margin: 0;
}
 .woocommerce-message .button.wc-forward {
     border: 1px solid #6dbe14 !important;
     box-shadow: 0 0 0 0 #fff inset;
     transition: all 0.4s cubic-bezier(0.8, 0, 0, 1) 0s;
}
 .woocommerce-message .button.wc-forward:hover {
     border: 1px solid #6dbe14 !important;
     box-shadow: 0 -40px 0 0 #6dbe14 inset !important;
     transition: all 0.4s cubic-bezier(0.8, 0, 0, 1) 0s;
}
 .box-additional .products-grid .item .item-inner .item-img .item-box-hover .product-detail-bnt a {
     padding: 12px 0 !important;
}
 .woocommerce ul#shipping_method label {
     display: inline;
}
 .woocommerce form.register input[type="email"], .woocommerce form.register input[type="email"]:focus {
     outline: medium none;
}
 .woocommerce form .form-row.woocommerce-invalid label {
     color: #333 !important;
}
 .widget-posts-wrap {
     margin-top: 15px;
}
 .woocommerce div.product form.cart div.quantity {
     float: right;
     margin: 0 10px 0 0;
}
 .search-results .display-product-option {
     float: none;
     margin-top: -12px;
     position: relative;
     width: 100%;
     z-index: 10;
}
 .search-results .toolbar .woocommerce-message {
     right: 0;
     position: absolute;
     top: -45px;
     width: 100%;
}
 .side-bar .widget_shopping_cart_content {
     padding-bottom: 10px;
}
 .woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
     padding: 10px;
     vertical-align: middle;
}
 .category-products .products-grid li.item.wide-first {
     clear: both;
}
 .cart-collaterals .totals h2 {
     border-bottom: 2px solid #eaeaea;
     color: #000;
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 0.5px;
     margin-bottom: 15px;
     margin-top: auto;
     padding: 10px 0;
     text-transform: uppercase;
}
 .cart_totals.totals.calculated_shipping table.shop_table {
     margin: 15px !important;
}
 .woocommerce .widget_layered_nav ul {
     border: 0 none;
     list-style: outside none none;
     margin: 0;
     padding: 15px 0 0;
}
 .woocommerce .widget_layered_nav_filters ul {
     border: 0 none;
     list-style: outside none none;
     margin: 0;
     padding: 15px 0 0;
}
 .woocommerce .widget_layered_nav_filters ul li {
     display: block;
     margin-bottom: 4px;
     width: 100%;
}
 .woocommerce .woocommerce-info::before {
     color: green !important;
}
 .woocommerce .woocommerce-error::before, .woocommerce .woocommerce-info::before, .woocommerce .woocommerce-message::before {
     content: "";
     display: inline-block;
     font-family: FontAwesome;
     right: 1.5em;
     position: absolute;
     top: 1.1em;
}
 .woocommerce .woocommerce-info::before, .woocommerce-page .woocommerce-info::before {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
     box-shadow: none !important;
     color: #339900 !important;
     font-size: 15px !important;
     font-weight: normal !important;
     right: 15px !important;
     top: 8px !important;
}
 .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error {
     background: #f3fdf0 none repeat scroll 0 0;
     border: 1px solid #e2f7db !important;
     border-radius: 0 !important;
     box-shadow: none !important;
     color: #5e5e5e;
     list-style: outside none none !important;
     margin: 0 0 2em !important;
     padding: 1em 3.5em 0.6em 1em !important;
     position: relative;
     text-shadow: 0 0 0 #ffffff;
     width: auto;
}
 .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
     background: #f3fdf0 none repeat scroll 0 0;
     border: 1px solid #e2f7db !important;
     border-radius: 0 !important;
     box-shadow: none !important;
     color: #5e5e5e;
     list-style: outside none none !important;
     margin: 0 0 2em !important;
     padding: 0.7em 3.5em 0.7em 1em !important;
     position: relative;
     text-shadow: 0 0 0 #ffffff;
     width: auto;
}
 .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
     background: #fae2e5 none repeat scroll 0 0;
     border: 1px solid #f4d1d4 !important;
}
 .woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button {
     float: left;
     font-size: 11px !important;
     font-weight: normal !important;
     height: auto !important;
     margin-top: -4px;
     padding: 4px 8px !important;
}
 .woocommerce .woocommerce-message .button {
     background-color: #6dbe14 !important;
     border: 1px solid #6dbe14 !important;
     color: #fff !important;
     font-weight: normal !important;
     height: inherit !important;
     margin-top: -4px;
     padding: 3px 10px !important;
}
 .widget_recent_entries ul {
     margin-top: 12px;
}
 .widget_recent_entries ul li {
     padding: 4px 0;
}
 .radio, .checkbox {
     display: inline-block;
}
 .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
     color: #fff !important;
}
 .woocommerce input#coupon_code {
     margin-bottom: 0;
}
 #add_payment_method #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
     margin: 0 0 0 5px;
}
 .woocommerce form.login input.button, .woocommerce form.register input.button {
     background-color: #222 !important;
     border: 1px solid #222 !important;
     color: #fff !important;
     float: right !important;
     margin-left: 10px;
}
 .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
     width: 100% !important;
}
 .woocommerce-MyAccount-navigation ul {
     box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
     position: relative;
     overflow: hidden;
}
 .woocommerce-MyAccount-navigation ul li a {
     border-bottom: 1px solid #ebebeb;
     display: block;
     overflow: hidden;
     padding: 20px;
     position: relative;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #242424;
}
 .woocommerce-MyAccount-navigation ul li a:hover {
     color: #C8A976 !important;
}
 .woocommerce-MyAccount-content {
     box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
     position: relative;
     overflow: hidden;
     padding: 15px;
}
/* WooCOmmerce */
 .woocommerce-page #content div.product div.images {
     float: right;
     width: 48%;
     margin-bottom: 2em;
}
 .woocommerce-main-image {
     background: #fff none repeat scroll 0 0;
     border: 5px solid #c49e60 !important;
     color: #242424 !important;
     cursor: pointer !important;
     float: right !important;
     overflow: hidden !important;
     padding: 20px !important;
     position: relative !important;
     text-align: center !important;
     width: 100% !important;
}
 .woocommerce-breadcrumb {
     margin: 40px 30px !important;
}
 .woocommerce-breadcrumb {
     color: #c49e60 !important;
     font-size: 16px;
     letter-spacing: 2px;
     text-transform: uppercase;
}
 .woocommerce-breadcrumb a {
     color: #fff;
     font-size: 16px;
     letter-spacing: 2px;
     text-transform: uppercase;
}
 .woocommerce span.onsale {
     z-index: 99;
     background-color: #c49e60;
     border-radius: 100%;
     color: #fff;
     font-size: 0.857em;
     font-weight: 700;
     line-height: 2;
     margin: 0;
     min-height: 3.236em;
     min-width: 3.236em;
     padding: 20px !important;
     position: absolute;
     left: 49em !important;
     text-align: center;
     top: -0.5em;
     right: auto !important;
}
 .woocommerce span.onsale::before {
     border-color: transparent transparent transparent #c49e60;
     border-style: solid;
     border-width: 0 20px 15px 10px;
     bottom: -5px;
     content: "";
     right: 25%;
     position: absolute;
}
 .woocommerce div.product .product_title {
     text-transform: uppercase;
     font-weight: 600;
}
 .p-vote {
     display: block;
     position: relative;
     overflow: hidden;
}
 .p-vote i {
     float: right;
     margin-left: 10px;
     color: #c49e60;
     font-size: 20px;
}
 .woocommerce .quantity .qty {
     padding: 12px 15px 12px 8px;
     text-align: center;
     width: 6em;
     margin-right: 30px;
     border: 1px solid #c49e60;
}
 .woocommerce div.product form.cart .button {
     float: right;
     vertical-align: middle;
     padding: 15px 30px;
     background-color: #c49e60;
     border: 1px solid #c49e60;
     color: #FFF;
     letter-spacing: 2px;
     overflow: hidden;
     position: relative;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     text-transform: uppercase;
}
 .woocommerce div.product form.cart .button:hover {
     background-color: transparent !important;
     color: #c49e60 !important;
}
 .woocommerce div.product form.cart, .woocommerce div.product p.cart {
     display: table;
     margin: 0 auto;
     text-align: center;
}
 .woocommerce div.product div.images div.thumbnails {
     clear: both;
     padding-top: 2em;
     position: relative;
}
 .woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
     border: 1px solid;
     padding: 10px;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs {
     padding: 0;
     margin-bottom: 0;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
     background: #c49e60;
     border-bottom-color: #fff;
     z-index: 2;
     border-radius: 0;
     color: #FFF;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs li {
     background-color: #FFF;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 2px;
     border-radius: 0;
     border: 0;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs::before {
     border-bottom: 3px solid #c49e60;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after {
     box-shadow: none !important;
     border: none !important;
}
 .woocommerce div.product .woocommerce-tabs ul.tabs li a {
     padding: 10px 20px;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 .woocommerce .woocommerce-message, .woocommerce .woocommerce-info {
     box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.21);
     margin-top: 30px !important;
     border-top-color: #c49e60;
     font-weight: 600;
     letter-spacing: 1px;
     line-height: 40px;
     text-transform: uppercase;
}
 .woocommerce .woocommerce-error::before, .woocommerce .woocommerce-info::before, .woocommerce .woocommerce-message::before {
     color: #c49e60;
}
 .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
     text-transform: uppercase;
     font-size: 12px;
     letter-spacing: 1px;
     padding: 14px 25px;
     border-radius: 1px;
     -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
     transition: all .25s ease-in-out;
     color: #fff;
}
 .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
     background-color: #efbb20;
     border-color: #efbb20;
     color: #fff;
}
 .woocommerce ul.products li.product h3:hover {
     color: #efbb20;
}
 .woocommerce-message .button:hover, .checkout_coupon .button:hover {
     background-color: #efbb20;
     border-color: #efbb20;
     color: #fff !important;
}
 .blog-article-content h2 {
     text-transform: uppercase;
     font-weight: 600;
}
 .woocommerce-cart table.cart td, .woocommerce-cart table.cart th {
     text-transform: uppercase;
     font-weight: 600;
}
 .woocommerce-cart table.cart td.actions .coupon .input-text {
     padding: 15px 35px;
     text-transform: uppercase;
     width: auto !important;
     margin-top: 4px;
}
 .woocommerce-cart .cart_totals table {
     border: medium none !important;
     border-collapse: separate;
     margin: 15px;
     padding: 0;
     width: 100%;
}
 .woocommerce table.shop_table {
     border: medium none !important;
     border-collapse: collapse !important;
     border-radius: 0;
     margin: 0 0 24px -1px;
     text-align: right;
     width: 100%;
}
 .woocommerce table.shop_table tr {
     border-bottom: 1px solid #ebe9eb !important;
}
 .woocommerce table.shop_table tbody:first-child tr:first-child td, .woocommerce table.shop_table tbody:first-child tr:first-child th {
     border-top: 0 none !important;
}
 .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {
     border-left: 0 none;
     border-right: 0 none;
     line-height: 2em;
     padding: 6px 0;
     vertical-align: top;
     width: 100%;
}
 .woocommerce table.shop_table .amount {
     font-size: 14px;
}
 .woocommerce-cart .cart_totals tr td, .woocommerce-cart .cart_totals tr th {
     border-top: 1px solid #ebe9eb;
}
 .woocommerce-cart .cart_totals table td, .woocommerce-cart .cart_totals table th {
     border-left: 0 none;
     border-right: 0 none;
     line-height: 2em;
     padding: 6px 0;
     vertical-align: top;
}
 .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
     color: #fff;
     padding: 15px 35px !important;
     font-size: 14px !important;
}
 .woocommerce table.shop_table td .button:hover, .wc-proceed-to-checkout .button:hover, .place-order .button:hover {
     color: #fff !important;
}
 .woocommerce table.shop_table td .button {
     padding: 15px 35px !important;
     color: #FFF !important;
     text-transform: uppercase;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     font-size: 12px;
}
 .woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
     padding: 30px 15px !important;
}
 .woocommerce .shop_table thead tr {
     padding: 10px !important;
}
 .woocommerce .shop_table thead tr th {
     padding: 15px !important;
     color: #fff !important;
     font-weight: 600 !important;
     background: #000 none repeat scroll 0 0;
}
 .woocommerce ul.products li.product .price {
     color: #999 !important;
     font-size: 0.857em;
     font-weight: 400;
}
 .woocommerce .cart-subtotal, .woocommerce .order-total {
     text-transform: uppercase;
}
 .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 1px;
     box-shadow: none;
     color: #555;
     font-size: 14px;
     height: auto;
     padding: 15px 12px;
     transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
     margin-bottom: 38px;
}
 .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
     background-color: transparent;
     border: 1px solid #d3ced2;
     margin: 2em 0;
     padding: 20px;
     text-align: right;
}
 .woocommerce .cart-subtotal th {
     border-bottom: medium none;
}
 .woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-checkout h3 {
     color: #191919;
     font-size: 20px;
     font-weight: 600;
     line-height: 1.4em;
     text-transform: uppercase;
     margin-bottom: 15px;
}
 .woocommerce-billing-fields label, .woocommerce-shipping-fields label {
     text-transform: uppercase;
}
 .shop_table .product-name, .shop_table .product-total {
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
}
 .woocommerce form .form-row .select2-container {
     line-height: 3em;
}
 .woocommerce .woocommerce-error li, .woocommerce .woocommerce-info li, .woocommerce .woocommerce-message li {
     letter-spacing: 1px;
}
 .product, .woocommerce-message {
     background-color: #fff;
     margin-top: 30px !important;
     padding: 20px;
}
/* data */
 body .woocommerce .woocommerce-tabs h2 {
     margin-bottom: 5px;
}
 body .woocommerce .woocommerce-tabs table {
     margin-top: 10px;
}
 body .woocommerce .woocommerce-tabs #review_form {
     padding-bottom: 15px;
}
 #single-product-page-progression-studios .related.products {
     padding-bottom: 25px;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper {
     padding: 20px 0;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
     margin: 0;
     padding: 0;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs::before {
     border-bottom: 2px solid #ebebeb;
}
 body.woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::before, body.woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::after {
     display: none !important;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: medium none;
     float: left;
     margin: 0;
     padding: 0;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
     background: transparent none repeat scroll 0 0;
     border-right: 2px solid #ebebeb;
     border-top: 2px solid #ebebeb;
     color: #888888;
     font-size: 13px;
     font-weight: 500;
     letter-spacing: 0.5px;
     line-height: 1;
     margin: 0;
     padding: 20px 30px;
     text-transform: uppercase;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li:last-child a {
     border-left: 1px solid #ebebeb;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active a {
     background: #ffffff none repeat scroll 0 0;
     color: #000000;
}
 body .woocommerce .woocommerce-tabs.wc-tabs-wrapper .entry-content {
     background: #ffffff none repeat scroll 0 0;
     border-bottom: 2px solid #ebebeb;
     border-left: 2px solid #ebebeb;
     border-right: 2px solid #ebebeb;
     padding: 30px 30px 10px;
}
 .woocommerce-tabs.wc-tabs-wrapper #reviews ol.commentlist {
     padding-top: 10px;
}
 ol.commentlist {
     padding-right: 0;
}
 .woocommerce-tabs.wc-tabs-wrapper #reviews h3#reply-title {
     margin: 30px 0 15px;
     text-align: right;
}
 .woocommerce p.myaccount_user {
     margin-bottom: 30px;
}
 .woocommerce .col-1.address {
     padding: 30px 0 20px;
}
 body form.lost_reset_password, body form.login {
     background: #ffffff none repeat scroll 0 0;
     border: medium none;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
     padding: 4%;
}
 body table.shop_table {
     background: #ffffff none repeat scroll 0 0;
     border-bottom: 1px solid #d5d8dd;
     border-color: #d5d8dd;
     border-radius: 0;
     border-top: 1px solid #d5d8dd;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}
 body table.shop_table th {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: #ffffff none repeat scroll 0 0;
     border-color: -moz-use-text-color -moz-use-text-color #d5d8dd;
     border-image: none;
     border-style: none none solid;
     border-width: medium medium 1px;
     color: #23272c;
     font-size: 15px;
     font-weight: 400 !important;
     line-height: 1;
     padding-bottom: 20px;
     padding-top: 20px;
     letter-spacing: 1px;
}
 body table.shop_table td, body table.shop_table tr {
     border-top: medium none;
     font-size: 14px;
}
 body .woocommerce table.shop_table .product-quantity input {
     padding: 10px;
}
 body .woocommerce table.shop_table td.product-remove {
     width: 20px;
}
 body .woocommerce table.shop_table td.product-thumbnail {
     text-align: center;
     width: 110px;
}
 body .woocommerce table.shop_table td.product-thumbnail img {
     height: 90px;
     width: 90px;
}
 body .woocommerce table.shop_table td.product-remove a.remove {
     color: #232323 !important;
}
 body .woocommerce table.shop_table td.product-remove a.remove:hover {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
 body .woocommerce table.shop_table td.product-subtotal {
     color: #1f2228;
}
 body .woocommerce table.shop_table .coupon input {
     font-size: 12px;
     width: auto;
}
 body .woocommerce table.shop_table tr.cart_item td {
     padding-bottom: 14px;
     padding-top: 14px;
}
 body .woocommerce table.shop_table tr.cart_item td a {
     color: #232323;
}
 .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit[disabled]:disabled:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button[disabled]:disabled:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button[disabled]:disabled:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button[disabled]:disabled:hover {
     border: 1px solid #000;
     background-color: #000;
}
 body .woocommerce table.shop_table tr td {
     padding-bottom: 0;
     padding-top: 0;
     line-height: 50px;
     border: medium none !important;
}
 body .woocommerce table.shop_table tr th {
     border: medium none !important;
}
 .woocommerce table.shop_table tfoot tr {
     border-bottom: 1px solid #E5E5E5 !important;
}
 #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
     background: #fff none repeat scroll 0 0;
     border-radius: 0;
}
 #add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
     background: transparent !important;
     border: 1px solid #e5e5e5;
     color: #515151;
     font-size: 0.92em;
     line-height: 1.5;
     margin: 1em 0;
     padding: 1em;
     position: relative;
     width: 100%;
}
 #add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: transparent transparent #e5e5e5;
     border-image: none;
     border-style: solid;
     border-width: 1em;
     content: "";
     display: block;
     right: 0;
     margin: -1em 2em 0 0;
     position: absolute;
     top: -15px;
}
 #add_payment_method #payment ul.payment_methods li img, .woocommerce-cart #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img {
     box-shadow: none;
     margin: -2px 0.5em 0 20px;
     padding: 0;
     position: relative;
     vertical-align: middle;
}
 .woo-section .woocommerce-tabs div.panel {
     padding: 20px !important;
}
 .widget ul.children {
     margin-top: 0 !important;
}
 .widget ul.children li:last-child {
     border-bottom: none !important;
     padding-bottom: 0px;
}
 .woo-single .price .woocommerce-Price-amount {
     background-color: #c49e60;
     color: #fff;
     font-size: 40px;
     padding: 0 20px;
     text-decoration: none !important;
}
 .breadcrumb-links {
     color: #fff;
     font-size: 16px;
     letter-spacing: 2px;
     text-transform: uppercase;
}
 @media only screen and (min-width: 320px) and (max-width: 479px) {
     .woocommerce div.product .woocommerce-tabs ul.tabs li {
         background-color: #FFF;
         font-size: 12px;
         text-transform: uppercase;
         letter-spacing: 2px;
         border-radius: 0;
         border: 0;
    }
     .woocommerce div.product form.cart .button {
         font-size: 12px !important;
    }
     .woocommerce .quantity .qty {
         margin-left: 0 !important;
    }
     .woocommerce div.product .woocommerce-tabs ul.tabs li {
         padding: 0 !important;
    }
}
 #reviews #comments ol.commentlist li img.avatar {
     width: 55px !important;
}
 .woocommerce #review_form #respond textarea {
     box-sizing: border-box;
     width: 100%;
     height: 160px;
}
/*Price Silder */
 .price_slider {
     margin-bottom: 1em;
}
 .price_slider_amount {
     text-align: right;
     line-height: 2.4em;
     font-size: 0.8751em;
}
 .price_slider_amount .button {
     font-size: 1.15em;
}
 .price_slider_amount .button {
     float: right;
}
 .ui-slider {
     position: relative;
     text-align: right;
}
 .ui-slider .ui-slider-handle {
     position: absolute;
     z-index: 2;
     width: 0.9em;
     height: 0.9em;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     border: 1px solid rgba(0, 0, 0, 0.25);
     cursor: pointer;
     background: #e7e7e7;
     background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#e7e7e7));
     background: -webkit-linear-gradient(#FEFEFE, #e7e7e7);
     background: -moz-linear-gradient(center top, #FEFEFE 0%, #e7e7e7 100%);
     background: -moz-gradient(center top, #FEFEFE 0%, #e7e7e7 100%);
     outline: none;
     top: -.3em;
     -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
 .ui-slider .ui-slider-handle:last-child {
     margin-right: -1em;
}
 .ui-slider .ui-slider-range {
     position: absolute;
     z-index: 1;
     font-size: .7em;
     display: block;
     border: 0;
     background: none repeat scroll 0 0 #ffc60a;
     box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
     -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
     -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
     -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
     border-radius: 1em;
}
 .price_slider_wrapper .ui-widget-content {
     -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
     border-radius: 1em;
     background: #1e1e1e;
     background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#6a6a6a));
     background: -webkit-linear-gradient(#1e1e1e, #6a6a6a);
     background: -moz-linear-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
     background: -moz-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
}
 .ui-slider-horizontal {
     height: .5em;
}
 .ui-slider-horizontal .ui-slider-range {
     top: 0;
     height: 100%;
}
 .ui-slider-horizontal .ui-slider-range-min {
     right: -1px;
}
 .ui-slider-horizontal .ui-slider-range-max {
     left: -1px;
}
 .rtl .woocommerce .col2-set .col-1, .rtl .woocommerce-page .col2-set .col-1 {
     float: right;
}
 .woocommerce form .form-row .input-checkbox {
     position: relative !important;
}
 ul.on-product-list-stars {
     position: relative;
     overflow: hidden;
}
 ul.on-product-list-stars li {
     float: right;
}
 ul.on-product-list-stars.woocommerce .star-rating {
     height: 1.06em !important;
}
 .rtl .description-icons-series, .description-spacing .description-icons-series .star-rating {
     float: right !important;
}
 .rtl .description-right-area .quantity .qty {
     margin-right: 0 !important;
     margin-left: 30px;
}
 .rtl .tab-description #reviews #comments ol.commentlist li .comment-text {
     margin: 0 80px 0 0 !important;
}
 .rtl .tab-description #reviews #comments ol.commentlist li .comment-text:before {
     position: absolute;
     content: '';
     top: 25px;
     right: -20px;
     left: auto;
     border-top: 9px solid transparent;
     border-bottom: 9px solid transparent;
     border-left: 10px solid #FFF;
     border-right: 10px solid transparent;
}
 .rtl .product-description .product-description-icons ul.on-product-custom-stars li {
     float: right;
     margin-right: 0;
     margin-left: 10px;
}
 .rtl .product-description .product-description-icons ul.on-product-custom-stars li:last-child {
     margin-left: 0;
}
 .rtl .product-description .product-description-text p {
     float: right;
     margin-right: 0;
     margin-left: 10px;
}
 .rtl .description-right-area .description-icons-series {
     margin-right: 0;
     margin-left: 15px;
}
 .rtl .product-description-text strike {
     float: right;
     padding-right: 0;
}
 .woocommerce-cart table.cart td.actions .coupon .input-text {
     padding: 0px 35px !important;
}
 .rtl .description-number form.cart span.quantity div.quantity {
     float:right;
     margin-right:0;
     margin-left:10px;
}